<!-- Alert -->
<div id="alert_placeholder" class="alert alert-success alert-dismissable" style="display:none;width:80%;margin-left:auto;margin-right:auto;"></div>

<!-- body: saved searches -->
<div class="searchwell" id="recipe-search-results">
	<div class="panel panel-default">
		<div class="panel-heading">
		    <h3 class="panel-title"><%= @result_count %> saved recipes</h3>
		</div>
		<ul class="list-group">
			<% @recipes.each do |recipe| %>
			<div class="list-group-item">
				<button class="show-recipe btn btn-primary" data-id="<%=recipe['yummly_id']%>" data-toggle="modal" data-target="#recipe-modal" value="<%=recipe['recipe_name']%>">
					<span class="glyphicon glyphicon-search" />
				</button>
				<button class="delete-recipe btn btn-primary" data-id="<%=recipe['_id']%>">
					<span class="glyphicon glyphicon-remove" />
				</button>
			    <a href="<%=recipe['url']%>"><%=recipe['recipe_name']%></a>
			</div>
			<% end %>
		</ul>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="recipe-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">recipename</h4>
      </div>
      <div class="modal-body">
        ...Recipe Details...
      </div>
      <div class="modal-footer">
		<a class="btn btn-primary" id="view-recipe-button" target="_new">View Recipe</a>
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- /Modal -->



<!-- jquery -->
<script>
$(function() {
	$(document).on('click', '.show-recipe', function(e) {
		e.preventDefault();

		$(".modal-title").html($(this).attr('value'));
		$("#view-recipe-button").attr("href", "http://www.yummly.com/recipe/" + $(this).attr('data-id'));
		$("#save-recipe-button").attr("data-id", $(this).attr('data-id'));
		$(".modal-body").html('');
		$(".modal-body").addClass('loader');
		$("#recipe-modal").modal('show');
		//console.log("made it!")

		$.post('/modal_view',
			{yum_id: $(this).attr('data-id') },
			function(html) {
				$(".modal-body").removeClass('loader');
				$(".modal-body").html(html);
				//console.log(html)
		});
	});
	
	$(document).on('click', '.delete-recipe', function(e) {
		e.preventDefault();
		console.log('what the heck')
		$.post('/remove_saved_recipe',
			{id: $(this).attr('data-id') },
			function(html) {
				console.log('html->' + html);
				$("#alert_placeholder").html('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + html);
				$("#alert_placeholder").show();
				setTimeout(function() {$("#alert_placeholder").hide();}, 3000);
		});
	});
});


</script>